body {
  font-family: sans-serif;
  margin: 0;
}

.resume-content, .content {
  max-width: 500px;
  margin: 0 auto;
}

.resume-hero {
  text-align:center;
  padding: 1em;
  max-width: 100%;
  background-color: darkmagenta;
  color: white;
}


/* HEADING */

.header-content {
  height: 64%;
}

header {
  height: 24vw;
  max-height: 150px;
  width: 100%;
  display: block;
  position: relative;
}

.home-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d7d7d7;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 363px;
    float: right;
}

.project-list {
  list-style-type:none;
}

.project-list-li {
  margin-top:10px;
  text-align:center;
}

.project-list-li a {
  color: #fff;
}

.project-list-li img {
  width:320px;
  height: 200px;
  padding: 5px;
  /*padding-left:20px;*/
}

.home-nav-li {
    float: right;
}

.home-nav-li a {
    display: block;
    color: #373737;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
}

a:hover {
    background-color: darkmagenta;
    color: #fff;
}

.active {
background-color: darkmagenta;
color: #fff !important;
font-weight:bold;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header::after {
background-image: url(https://s-media-cache-ak0.pinimg.com/236x/bd/86/6b/bd866bf3689609e1dd85bb10e043c290.jpg);
height: 25vw;
max-height: 150px;
width: 100%;
content: "";
opacity: 0.25;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1; 

/* taken from https://css-tricks.com/snippets/css/transparent-background-images/ */ 


}
.udacity-logo {
  max-height: 45%;
  margin: 0 auto;
  padding-top:15px;
  float: left;
}

footer {
  height: 65px;
  margin-top:60px;
  max-height:65px;
  width:100%;
  background-color:#f0f0f0;
 
}

/*footer::after {
background-image: url(https://s-media-cache-ak0.pinimg.com/236x/bd/86/6b/bd866bf3689609e1dd85bb10e043c290.jpg);
height: 20vw;
max-height: 100px;
width: 100%;
content: "";
opacity: 0.25;
top: 0;
left: 0;
bottom: -100px;
right: 0;
position: absolute;
z-index: -1;


}*/


h1 {
  float: left;
  text-align:center;
  padding-top: 3%;
  padding-left:2%;
  width: 95%;
  font-size:40px;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 380px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 464px) and (min-width: 381px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 465px) {
  h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding-top: 20px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 5px;
    
  }
}


/* MAIN SECTIONS */

.hero {
  padding: 1em;
  max-width: 100%;
  background-color: darkmagenta;
  color: white;
}

.my-picture {
  display: block;
  margin: 0 auto 10px;
  max-width: 105%;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.iama {
  max-width: 100%;
  color: #969696;
  letter-spacing: 0.05em;
  font-size: 19px;
  margin: 0;
}

.project-subheader {
  text-align:center;
  max-width: 100%;
  color: #969696;

}

.hw-header {
  text-align:center;
  font-weight: bold;
  font-size:44px;
  font-family: 'Shadows Into Light Two', cursive;
}

#caption {
  text-align:center;
  font-size: 19px;
  font-weight:bold;
  font-family: 'Shadows Into Light Two', cursive;
  margin-bottom:15px;
}

.my-info {
 
  max-width: 100%;
  font-size: 20px;
  margin: 0 auto 20px;
}

.my-info:last-of-type {
  margin: 0;
}

.my-name {
  color: white;
}

.about-me {
  padding: 1em;
}

.credits-content {
  max-width: 550px;
  margin: 0 auto;
}

.credits {
  margin-top:30px;
  padding-top:25px;
  margin-bottom:10px;
  font-size:22px;
  vertical-align:bottom;
  font-family: 'Shadows Into Light Two', cursive;
}

.social-media {
    list-style-type: none;
    max-width: 275px;
    float: right;
    margin-top: 10px;
    margin-right:15px;
    margin-bottom: 0;

}

.contact {
    margin-top: 12px;
}

.social-media-li {
  padding: 0 !important;
  display: inline-block !important;
  float: left;
  color: #373737;
  margin: 0 4px 10px 0;
  list-style-type: none !important;

}

.social-media-li img {
  opacity: .3;
  vertical-align:top;
}